.numbers {
    background-color: #a82d49;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 0px;
}

.numbers row{
    margin: 10px 0px;
}

.numbers h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: #fff;
    font-family: 'Tajwal';
}
.numbers h6{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Tajwal';
    font-weight: bold;
    letter-spacing: 1px;
}

/*css to the pride section*/
.pride,
 .ingredients {
    background-color: transparent;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
}

.pride img ,
.ingredients img{
    max-width: 100%;
    border-radius: 10px;
}
.pride h2 ,
.ingredients h2 ,
.paralex h2{
    font-size: 35px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Tajwal';
    line-height: 50px;
}
.pride p ,
.ingredients p ,
.paralex p{
    font-size: 16px;
    line-height: 28px;
    color: #333;
    margin-top: 15px;
}
.pride button , 
.ingredients button{
    background-color: #a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    width: 140px;
    text-align: center ;
    margin-top: 20px;
    transition: .4s ease;
    padding: 11px;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);

}
.pride button a ,
.ingredients button a{
    display: block;
    color: #fff;     
    text-decoration: none !important;
    font-weight: bold;
}
.pride button:hover a ,
.ingredients button:hover a{
    color: #a82d49;
    transition: .10s ease;
}
.pride button:hover ,
.ingredients button:hover{
    background-color: #fff; 
}
.ingredients ul{
    padding: 0px;
}
.ingredients ul li{
    list-style-type: square;
    color: #333;
    margin-top: 10px;
}

.paralex{
    background: url('./../../assets/4.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 30px 0px;
    text-align: center;
}
.paralex h2{
    width: 100%;
    margin: 20px 0px;
}
.paralex .row{
    margin: 50px 0px;
}
.paralex p{
    color: #444;
    margin: 20px 0px;
    line-height: 32px;

}
.paralex a{
    color: #a82d49;
    font-size: 20px;
    margin: 20px 0px;
    text-decoration: none !important;
}

.blogs{
    margin-top: 50px;
    padding: 25px 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.blogs .row:first-child{
    text-align: center;
    margin: 25px 50px;
}
.blogs h2{
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Tajwal';
    line-height: 50px;
}
.blogs .box img{
    max-width: 100%;
}
.blogs .box{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 5px;
    text-align: left;
}
.blogs h5{
    color: #77132b;
    font-size: 22px;
    margin: 15px 0px;
}
.blogs .box span{
    color: #444;
    font-size: 16px;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blogs .box h6{
    color: #a82d49;
    font-size: 25px;
}
.blogs button{
    display: block;
    width: 140px;
    height: 40px;
    background-color: #77132b;
    border: 1px solid #77132b;
    box-sizing: border-box;
    margin: 10px 0px;
    transition: .4s ease-in-out;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
}
.blogs button a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none !important;
    letter-spacing: 1px;
}
.blogs button:hover{
    background-color: transparent;
}
.blogs button:hover a{
    color: #77132b;
}
.blogs .box del{
    color: #444;
}

.sliderx{
    background-color: #a82d49;
    border: 1px solid #a82d49;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 50px 0px;
}
.sliderx img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 150px;
}
.sliderx .carousel-caption{
    padding-bottom: 0px;
}
.sliderx .carousel-caption p{
    color: #212121;
    font-size: 17px;
    line-height: 30px;    
}
.sliderx .carousel-caption span{
    display: block;
    color: #a82d49;
    margin: 15px 0px;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}
.sliderx .carousel{
    background-color: #fff; 
    margin: 40px 0px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 0px;
}
.sliderx .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -80px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.sliderx .carousel-indicators button{
    width: 15px;
    background-color: #fff;
    height: 15px;
    border: 1px solid #77132b;
    margin: 15px 5px 15px 5px;
    border-radius: 50%;
    opacity: 0.2;
}
.sliderx .carousel-indicators .active{
    background-color: #fff;
    opacity: 1;
}
.sliderx h2{
    color: #fff;
    font-weight: bold;
    margin: 10px 0px;
}
.questions{
    padding: 50px 0px;
    margin-bottom: 50px;
}
.questions h1{
    color: #77132b;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
.questions h5{
    color: #77132b;
}
.questions p{
    color: #555;
}
.bakers{
    background: url('./../../assets/cake.jpg') no-repeat center fixed ;
    background-size: cover;
    height: 150px;
    padding: 50px 0px;
    text-align: center;
}
.bakers h3{
    color:#77132b;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.2px;
}
.bakers button{
    height: 50px;
    width: 150px;
    text-align: center;
    background: #a82d49;
    border: 3px solid #a82d49;
    color: #fff;
    transition: .4s ease;
    
}
.bakers button a{
    display: block;
    color: #fff;     
    text-decoration: none !important;
    font-weight: bold;
}
.bakers button:hover {
    background-color: transparent;
}
.bakers button:hover a{
    color: #a82d49;
}

.subscribe{
    text-align: center;
    padding: 100px 0px;
    overflow: hidden;
}
.subscribe h1{
    color: #77132b;
}
.subscribe p{
    color: #555;
    letter-spacing: 0.2px;
    padding: 25px 0 15px;  
}
.subscribe input{
    border: 3px solid #e5e5e5;
    width: 500px;
    height: 50px;
    padding: 0 20px;
}
.subscribe button{
    width: 180px;
    height: 50px;
    text-decoration: none !important;
    background-color: #a82d49;
    border: 3px solid #a82d49;
    transition: .4s ease-in-out;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
}
.subscribe a{
    text-decoration: none !important;
    color: #fff;
}
.subscribe button:hover {
    background-color: transparent;
}
.subscribe button:hover a{
    color: #77132b;
}
